Chraft/Resources/Recipes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Recipes">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Recipe">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Amount" type="xs:int" />
              <xs:element name="Rows">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="3" name="Row" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:int" use="required" />
            <xs:attribute name="Match" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>